X0->(Common_Noun)%((Common_Noun)(Genitive_Pronoun))
X1->(Kan_Group)%(Common_Noun)
X2->(Preposition)%((Common_Noun)(Genitive_Pronoun))
X3->(Preposition)%(Common_Noun)
X4->(Common_Noun)%((Imperfect)(Accusative_Pronoun))
X5->(Imperfect)%((Common_Noun)(Genitive_Pronoun))
X6->(Accusative)%(Imperfect)
X7->X6%(Common_Noun)
X8->X7%(Common_Noun)
X9->(Adverb)%(Common_Noun)
X10->(Common_Noun)%((Perfect)((Nominative_Pronoun)(Accusative_Pronoun)))
X11->X0%((Common_Noun)(Genitive_Pronoun))
X12->(Imperfect)%((Imperative)(Attached_Pronoun=Accusative_Pronoun||Genitive_Pronoun))
X13->X0%((Imperfect)(Accusative_Pronoun))
X14->((Common_Noun)(Genitive_Pronoun))%(Common_Noun)
X15->X14%(Imperfect)
X16->X15%(Common_Noun)
X17->X0%(Common_Noun)
X18->X0%(Imperfect)
X19->X18%(Common_Noun)
X20->(Ann_Group)%(Common_Noun)
X21->(Particle)%(Common_Noun)
X22->X21%(Common_Noun)
X23->(Particle)%(Imperfect)
X24->X23%(Common_Noun)
X25->X24%(Common_Noun)
X26->(Perfect)%(Common_Noun)
X27->X26%(Common_Noun)
X28->(Perfect)%X17
X29->X20%(Common_Noun)
X30->(Imperfect)%(Common_Noun)
X31->(Common_Noun)%(Common_Noun)
X32->X3%(Common_Noun)
X33->(Ann_Group)%X17
X34->(Ann_Group)%X32
X35->X32%X30
X36->X29%(Common_Noun)
X37->X22%(Common_Noun)
X38->X31%(Common_Noun)
X39->(Common_Noun)%X17
X40->X20%X17
X41->X20%(Imperfect)
X42->X20%X4
X43->X20%X5
X44->X1%(Common_Noun)
X45->X44%X2
X46->X1%X17
X47->X1%X31
X48->X1%(Imperfect)
X49->X1%X5
X50->(Common_Noun)%X4
X51->X31%X30
X52->X31%X31
X53->X31%X5
X54->(Common_Noun)%X2
X55->X2%X10
X56->X2%(Common_Noun)
X57->(Common_Noun)%X11
X58->(Common_Noun)%(Imperfect)
X59->(Common_Noun)%X27
X60->X29%X3
X61->X29%X2
X62->X52%(Imperfect)
X63->X31%X3
X64->X31%X9
X65->X31%X2
X66->X31%X38
X67->X31%X12
X68->X31%X4
X69->X31%(Imperfect)
X70->X31%X17
X71->X38%X3
S->X38
S->X51
S->X39
S->X8
S->X52
S->X36
S->X22
S->X53
S->X29
S->X31
S->X17
S->X50
S->X46
S->X40
S->X41
S->X37
S->X54
S->X63
S->X64
S->X65
S->X32
S->X55
S->X56
S->X57
S->X66
S->X58
S->X67
S->X4
S->X13
S->X35
S->X59
S->X19
S->X25
S->X44
S->X27
S->X71
S->X47
S->X45
S->X28
S->X48
S->X68
S->X49
S->X60
S->X61
S->X33
S->X42
S->X43
S->X16
S->X62
S->X69
S->X34
S->X70